<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Facebook callback</title>

  % # method 3 - go back to iOS homescreen fullscreen webapp
  <meta http-equiv="refresh" content="0;URL=http://issue-social.dev/facebook/demo">
</head>
<body>
  % for k,v in token
  {{k}}: {{v}}<br>
  % end

  <p>debug</p>

  % for k,v in debug['data']
  {{k}}: {{v}}<br>
  % end

  {{JSON.dump debug}}

  <script>
    alert('js eval');
    (function init(parent) {
      var standalone = "standalone" in window.navigator
      var fullscreen = standalone && window.navigator.standalone;

      if (fullscreen) {
        console.log('---> fullscreen, going back');

        // attempt 2 - unsuccessful to go back on homescreen iOS webapp fullscreen
        //window.open("http://issue-social.dev/facebook/demo");
      } else {
        console.log('---> fullscreen, going back');
        if (window.opener) {
          parent = window.opener;
        } else if (window.parent) {
          parent = window.parent;
        }

        console.log('---> not fullscreen');
        parent.postMessage({{JSON.dump token}}, "*");
        window.close();
      }
    })();
  </script>
</body>
</html>
