<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Facebook callback</title>
</head>
<body>
  % for k,v in token
  {{k}}: {{v}}<br>
  % end

  <p>debug</p>

  % for k,v in debug['data']
  {{k}}: {{v}}<br>
  % end

  {{JSON.dump debug}}

  <script>
    (function init(parent) {
      if (window.opener) {
        parent = window.opener;
        var close = true;
      } else if (window.parent) {
        parent = window.parent;
      }

      parent.postMessage({{JSON.dump token}}, "*");
      if (close) {
        window.close();
      }
    })();
  </script>
</body>
</html>
