<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Facebook iOS home screen App demo</title>

  % # https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html
  <meta name="apple-mobile-web-app-capable" content="yes">

  <style>
    a {
      padding: 0 10px;
    }
  </style>
</head>
<body>
  <a id="fb-connect-iframe" href="http://a.issue-social.dev/facebook/auth">connect via iframe</a>
  <a class="popup" href="http://a.issue-social.dev/facebook/auth">connect via popup</a>
  <a href="http://a.issue-social.dev/facebook/auth" target="_blank">connect</a>

  <a id="profile" href="http://a.issue-social.dev/facebook/profile">my profile</a>

  <br>

  <script>
    (function init(connect, iframe) {
      connect = document.getElementById("fb-connect-iframe");
      connect.addEventListener("click", function(event) {
        iframe = document.createElement("iframe");
        iframe.src = this.href;
        document.body.appendChild(iframe);
      });

      document.body.addEventListener("click", function(event) {
        event.preventDefault();

        if (event.target.classList.contains("popup")) {
          window.open(event.target.href);
        }
      });

      window.addEventListener("message", function(message) {
        console.log('----> child says', message);
      }, false);
    })();

    (function initProfile(button, iframe) {
      button = document.getElementById("profile");
      button.addEventListener("click", function(event) {
        event.preventDefault();

        iframe = document.createElement("iframe");
        iframe.src = this.href;
        document.body.appendChild(iframe);
      });
    })();
  </script>
</body>
</html>
